body {
    background-color: lightblue;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic, bold;
  }

  h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic, bold;
  }