h3 {
    border: 2px solid orange;
    background-color: orange;
    font-style: bold;
}

body{
    background-color: antiquewhite;
}

h2 {
    font-style: italic;
    font-weight: bold;
    color: rgb(34, 173, 253);
}

em{
    color: grey;
}